    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Muted</h2>
              <br/>
                <p>Muted was initiated to help users and small businesses in how to navigate the ever growing quagmire of Internet</p>
                <p>We assist in advicing users in Security, Privacy and good-practices with their online precense.</p>
                <p>If you are in need of assistance understanding what you can do to be more secure, manage your privacy or similar you can read our guides or contact us to ask questions.</p>
                <br/>
              </div>
        </div>
    </section>
